{
  "app": {
    "guid": "aa36daad-fa1b-4ac9-b0cf-ccc0e7648153"
  },
  "odata": {
    "exposeEntities": true,
    "exposeMetadata": false,
    "metadataSecurity": "Administrators",
    "entitiesSecurity": null,
    "expandCompositeKeys": false,
    "addDisplayFields": true
  },
  "security": {
    "token": "YWEzNmRhYWQtZmExYi00YWM5LWIwY2YtY2NjMGU3NjQ4MTUz",
    "tokenExpiration": 3600,
    "tokenRecaptcha": null
  },
  "auth": {
    "type": "Token",
    "defaultDomain": null,
    "hostname": null,
    "autoSignUp": true,
    "socialLogin": false,
    "mutual": false,
    "socialNetworks": [],
    "autoSignUpSocial": false,
    "applicationProperties": {},
    "templateProperties": {
      "mutual": "false",
      "social": "false",
      "appid": "io.cronapp.apps.testebloco",
      "backend": "true",
      "theme": "Material",
      "authentication": "Token",
      "frontend": "true"
    },
    "groupName": null
  },
  "fixedTimeZone": true,
  "timeZone": "UTC",
  "timeZoneOffset": 0,
  "flushMode": "AUTO"
}